<h1>Contact Edit</h1>
<mat-card *ngIf="contact$ | async as contact">
  <mat-form-field >
    <input matInput placeholder="Contact name" [(ngModel)]="contact.name">
  </mat-form-field>
  <div *ngIf="!isNewContact">
    <mat-select placeholder="Company" [(ngModel)]="contact.companyKey">
      <mat-option *ngFor="let company of companies$ | async" [value]="company.id">
        {{ company.name }}
      </mat-option>
    </mat-select>
  </div>
  <mat-card-actions align="end">
    <button mat-button (click)="saveContact(contact)">Save</button>
    <button mat-button (click)="removeContact()">Remove</button>
  </mat-card-actions>
</mat-card>
